$blue-middle: #80b3d5;
$blue-light: #d9edfb;
$blue-dark: #05415b;
$blue-middle-dark: #2F6CA6;
$blue-very-light: #dbf0fb;

$blue-button-dark: #046c8a;
$blue-button-light: #1ebcea;

$gray-light: #e0e0e0;
$gray-middle: #ccc;