<div flex layout="column" class="chart-dashboard-directive">

    <md-toolbar flex="none" layout="row">
        <div flex="none" class="icon-box">
            <div layout="row" layout-align="center center">
                <span class="icon revenue-icon" ng-if="dashboardType === 'revenue'">S</span>

                <div class="icon installation-icon" ng-if="dashboardType === 'installations'"></div>
            </div>
        </div>
        <span flex class="title" layout="row" layout-align="start center">{{title}}</span>
    </md-toolbar>

    <div flex layout="row" class="content">

        <nvd3 flex options="chartOptions" data="chartData" api="chartApi"></nvd3>

        <div class="right-content" flex="none" layout="column">
            <div flex layout="column">
                <span flex="none" layout="row" layout-align="end top"><span class="dolar-value" ng-if="dashboardType === 'revenue'">$</span>{{rightSection.value}}</span>
                <span flex="none" layout="row" layout-align="end top">{{rightSection.description}}</span>
            </div>

            <div flex layout="column" layout-align="end end">
                <md-button ng-click="chartApi.refresh()">{{rightSection.buttonText}}</md-button>
            </div>
        </div>
    </div>
</div>