<div flex layout="column" class="chart-dashboard-directive">

    <md-toolbar flex="none" layout="row">
        <div flex="none" class="icon-box">
            <div></div>
        </div>
        <span flex md-truncate>Evojam recruitment task</span>
    </md-toolbar>

    <div flex layout="row" class="content">

        <nvd3 flex options="chartOptions" data="chartData"></nvd3>

        <div flex="none" layout="column">
            <div flex layout="column" layout-align="top end">
                <span>32,556</span>
                <span>Tekst</span>
            </div>

            <div flex layout="column" layout-align="end end">
                <md-button>Test</md-button>
            </div>
        </div>
    </div>
</div>